# Auto detect text files and perform LF normalization
* text=auto
*.safetensors filter=lfs diff=lfs merge=lfs -text
osh_proprioceptive_v13/** filter=lfs diff=lfs merge=lfs -text
osh_proprioceptive_v14/** filter=lfs diff=lfs merge=lfs -text
osh_proprioceptive_v12/** filter=lfs diff=lfs merge=lfs -text
